body {
    background-color: rgb(26, 26, 26);
}

h1 {
    top: -1px;
    position: sticky;
    position: -webkit-sticky;
    z-index: 0;
    width: fit-content;
    margin-inline: auto;
    padding-left: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-image: linear-gradient(to top, black, rgb(175, 175, 175));
    background-clip: text;
    filter: drop-shadow(0 0 0.5em rgb(160, 0, 0));
    user-select: none;
    box-shadow: 0 0 0px 0px rgb(160, 0, 0);
}

.removeActive {
    animation: linear stickAnimationOff .5s;
}

#bg {
    background-color: #c02f2f;
    position: fixed;
    z-index: -5;
    width: 100vw;
    height: 100vh;
    margin: 0;
    left: 0;
    clip-path: polygon(100% 12%, 100% 50%, 0 100%, 0 35%);
}

#back, #switch {
    position: fixed;
    background-color: grey;
    color: white;
    padding: 10px;
    font-size: 2rem;
    border-radius: 5px;
    left: 10px;
    top: 10px;
    overflow: hidden;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
}

#back::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0%;
    top: 100%;
    z-index: -1;
    transform: scale(0) rotate(-0deg);
    background-color: #1b9de4;
    transform-origin: left;
    transition: 0.4s;
}

#back:hover::before {
    transform: scale(1) rotate(-60deg);
    transition: 0.4s;
}

#switch {
    top: 10%;
    display: inline;
    font-size: 25px;
}

#switch::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: -1;
    background-color: #c02f2f;
    clip-path: polygon(72% 0, 100% 0, 100% 100%, 0 100%, 0 66%);
    transition: 0.4s;
}

#switch:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 66%);
}

.isSticked {
    box-shadow: 0 0 300px 150px rgb(160, 0, 0);
    animation: linear stickAnimation .5s;
    background-clip: border-box;
    background-image: none;
    background-color: rgb(160, 0, 0);
    border-radius: 0 0 15px 15px;
    color: grey;
}

@keyframes stickAnimationOff {
    0% {
        box-shadow: 0 0 300px 150px rgb(160, 0, 0);
    }

    100% {
        box-shadow: 0 0 300px 0px rgb(160, 0, 0);
    }
}

@keyframes stickAnimation {
    0% {
        box-shadow: 0 0 300px 0px rgb(160, 0, 0);
        background-clip: border-box;
        background-image: none;
        background-color: transparent;
        border-radius: 0 0 0px 0px;
    }

    100% {
        box-shadow: 0 0 300px 150px rgb(160, 0, 0);
        background-clip: border-box;
        background-image: none;
        background-color: rgb(160, 0, 0);
        border-radius: 0 0 15px 15px;
    }
}

#gridtable {
    margin-top: 15vh;
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: white;
    width: 60vw;
    margin-inline: auto;
    border-collapse: collapse;
    border: 3px solid grey;
    border-radius: 0px;
    background-image: radial-gradient(ellipse at center, grey, rgb(26, 26, 26));
}

#gridtable h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

#gridtable>.grid-element {
    border: black 2px solid;
    word-wrap: break-word;
    min-width: 0;
}

#gridtable>.grid-element:nth-child(3n - 2) {
    grid-column-end: span 2;
}

@media (max-width: 1300px) {
    #gridtable {
        width: 80vw;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 600px) {
    #gridtable {
        width: 95vw;
    }

    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 1rem;
    }
}